.myfooter footer {
  background-color: #1b1b1b;
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
}

.myfooter .ali {
  background-color: teal;
}

.myfooter .my-name {
  color: cyan;
  transition: all 0.2s linear;
  font-weight: 600;
  padding: 0 3px;
  animation: none;
}

.myfooter .fa-heart {
  font-size: 22px !important;
  margin-left: 5px;
}
